html{
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5;
  }
  *, *::before, *::after {
    box-sizing: inherit;
  }

body {
  margin: 0;
}

h1,h2,h3,h4,h5,h6,p,ul,ol{
  margin: 0 0 1.5rem;
}

h1 {
  font-size: 1.802rem;
  color:#00673e;
  text-transform:uppercase;
  font-weight: lighter; 
}

h2 {
  font-size: 1.602rem;
  text-transform:uppercase;
  font-weight: lighter;
}

h3 {
  font-size: 1.424rem;
}

h4 {
  font-size: 1.266rem;
  text-transform:uppercase;
}

h5 {
  font-size: 1.125rem;
  border-bottom: .125rem solid #ccc; 
  color:#00673e;
}

h6 {
  font-size: 1rem;
  text-transform:uppercase;
  font-weight: lighter;
}

small, .text_small {font-size: 0.889rem;}

a {
  color:#00673e;
}

a:focus, a:hover{
  color:blueviolet;
}

p{
  font-size: 1.3rem;
}

/* this is only for the heading1 in the stylesheet. */
.head-stylesheet {
  text-align:center;
}


.container {
  width:100%;
  max-width: 70em;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin:0 auto;
  
} 

/* For the logo bar */

.logobar {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;

}

.logobar .one {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 15rem;
} 

.logobar .two {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 15rem;
} 

.logobar .three {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 15rem;
} 

.logobar .four {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 15rem;
} 
.logobar li {
  list-style-type: none;
}

.logobar img {
  width: 100%;
  max-width: 15rem;
}

/* End logo bar */


/*  For the header and the footer */

h1 img {
  width: 100%;
  max-width: 15rem;
  margin-left: 20%;
}

@media only screen and (min-width: 45em) {
  .medium {
    display: flex;
    justify-content:flex-end;
    justify-content: space-between;
    align-items: center;
  }
  

  .medfooter{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    justify-content: space-between;
    align-items: center;
    
  } 
  
  nav ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-left: 0;
  }

  nav ul li {
  margin-right: 1rem;    
  }
  

}

/* End */
nav ul {
  list-style-type: none;
  padding-left: 0;
  padding-right: 2rem;
  text-align: center;
    
}

nav ul li {
  margin-top:1rem;  

}

.btn {
  padding: .5rem 2rem;  
  text-align: center;
  border-radius: 1.75rem;
  color:rgb(0, 159, 122);
  border: .18rem solid rgb(0, 159, 122);
  font-family: sans-serif;
  font-size: 1rem;
  text-decoration: none;
  max-width: 15rem;
}
.btn-footer{
  
  color:white;
  border: .18rem solid white;
  
}

.anchor_btn_hero_banner {
  padding: .5rem 2rem;  
  text-align: center;
  border-radius: 1.75rem;
  color:rgb(0, 159, 122);
  border: .18rem solid rgb(0, 159, 122);
  font-family: sans-serif;
  font-size: 1rem;
  text-decoration: none;
}

.anchor_btn_hero_banner:hover, .anchor_btn_hero_banner:focus{
  background-color: rgb(0, 159, 122);
  color:chartreuse;
}

.anchor_btn_cta_banner {
  padding: .1rem 1.5rem;  
  text-align: center;
  border-radius: 1.75rem;
  color:white;
  border: .18rem solid white;
  font-family: sans-serif;
  font-size: .75rem;
  text-decoration: none;
}

.anchor_btn_cta_banner:hover, .anchor_btn_cta_banner:focus{
  background-color:honeydew;
  color:black;
  border:.18rem solid chartreuse;
}


.laptop{
  padding: 0 auto;
  
  }
  .laptop img{
    width: 100%;
  }

.container-text{
  width: 100%;
  max-width: 45em;
  margin:0 auto;
  padding:0 auto;
  text-align: center;
}


.banner{
  width: 100%;
  padding-top: 16rem;
  padding-bottom: 16rem;  
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;  
  color: white;  
  text-align: center;
}

.banner-hero{
  background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6) ),  url(../images/banners/hero-home.jpg);   
  text-transform: uppercase;
  }

.banner-cta {  
  background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6) ),  url(../images/banners/soccer-banner-bw.jpg);   
  padding-top: 10rem;
  padding-bottom: 10rem;
  text-transform: uppercase;
  font-weight: lighter;

}

.footer-top{
  background-color:rgb(4, 106, 82);
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 1rem;
  
}


.footer-bottom{
  background-color: rgb(3, 57, 44);
  text-align: center;
  color: white;
  padding-top: 2rem;
  padding-bottom: .5rem;
}

small ul li a {
  color:white;
}
small ul li {
  display: inline;
  margin-right:1rem;
  
}
.footer-top img {
  
  width: 100%;
  max-width: 15rem;
  display: block;
  margin-left: 25%;
  margin-bottom: 1rem;
}

/* For tablet */
@media only screen and (min-width: 45em){
  h1 {      
      font-size: 2.488rem;
      color:#00673e;
      text-transform:uppercase;
      font-weight: lighter; 
    }
  
  h2 {
      font-size: 2.074rem;
      text-transform:uppercase;
      font-weight: lighter;
    }
  
  h3 {
      font-size: 1.728rem;
    }
  
  h4 {
      font-size: 1.44rem;
      text-transform:uppercase;
    }
  
  h5 {
      font-size: 1.2rem;
    }
  
  small, 
  .text_small {
                font-size: 0.833rem;
              }

  

}

/* For large screen*/
@media only screen and (min-width: 60em){

  h1 {
      font-size: 3.052rem;
      color:#00673e;
      text-transform:uppercase;
      font-weight: lighter; 
  }
  
  h2 {
      font-size: 2.441rem;
      text-transform:uppercase;
      font-weight: lighter;
    }
  
  h3 {
      font-size: 1.953rem;
    }
  
  h4 {
      font-size: 1.563rem;
      text-transform:uppercase;
    }
  
  h5 {
      font-size: 1.25rem;
      border-bottom: .125rem solid #ccc; 
      color:#00673e;
    }
  
  small, .text_small {font-size: 0.8rem;} 

  
  small ul li {
    margin-right: 0;
    }
  small:first-child{
  margin-bottom: 1rem;
    margin-left:0;
  }

      
}



