
/*---------- CTA - Banner (soccer) ----------*/
.banner-cta {  
  background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6) ),  url(../images/banners/soccer-banner-bw.jpg);   
  padding-top: 10rem;
  padding-bottom: 10rem;  
}

.btn-white {
  border: solid 0.15rem white;
  color:white;
}