

/*---- header -------*/
header .container {
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: center;
}
header img {
    width: 100%;
    max-width: 15rem;
}

.btn-header {
  /* border: solid 0.15rem #09a38c;
  color:#09a38c; */
  border:solid 0.15rem #03352D;
  color:#03352D;
}

header a {
  text-decoration: none;
} 